.trending-property {
    /* position: fixed;
    z-index: 1000;
    top: 37%;
    left: 47%;
    height: 100%;
    width: 100%; */
    /* //background-color: white; */
    /* position: absolute;
    top: 320px;
    right: 218px; */
}


/* .latest-property-label{
    color: white;
    font-size: 18px;
    font-weight: 600;
} */


/* .latest-property-div{
    height: 108px;
    background-color: #bdc3c3;   
    margin:10px!important;
    border-radius: 5px;
} */